 <div class="container-fluid text-sm-center p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
        <h1 class="display-3">Welcome</h1>
        <p class="lead">Jot down Ideas for your next YouTube videos</p>
        <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>
</div>